<!-- This extends the main.html template for visual consistency. -->
{% extends 'main.html' %}

<!-- block content is where the main content of the page goes. -->
{% block content %}

<!-- Main Section -->
<main class="formPage my-xl">
  <div class="content-box">
    <div class="formWrapper">
      <h3>Password Reset Successful</h3>

      <p>
        Your password has been successfully reset. You can now log in with your
        new password.
      </p>
      <br />
      <a href="{% url 'login' %}" class="btn btn--main btn--lg my-md">Log In</a>
    </div>
  </div>
</main>

{% endblock content %}
