<!-- This extends the main.html template for visual consistency. -->
{% extends 'main.html' %}

<!-- block content is where the main content of the page goes. -->
{% block content %}

<!-- Main Section -->
<main class="formPage my-xl">
  <div class="content-box">
    <div class="formWrapper">
      <h3>Password Reset Sent</h3>

      <p>
        An email has been sent to the address you provided with instructions on
        how to reset your password.
      </p>
      <br>
      <p>
        If you do not receive an email within a few minutes, please check your
        spam folder.
      </p>
    </div>
  </div>
</main>

{% endblock content %}
